#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* color: #000; */
    margin: 0;
    padding: 0;
}

.swiper {
    width: 55%;
    height: 100%;
    margin: 0 2rem;
    margin: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 22rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 20rem;
    height: 20rem;
    border-radius: 50px;
    background: #fffdfd;
    /* margin: 1rem;  */
}

.slide-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.slide-container:hover img {
  filter: blur(5px);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Ensure the overlay does not interfere with hover */
}

.slide-container:hover .overlay {
  opacity: 1;
}

